/* Tailwind Base */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* LIGHT MODE */
:root {
  --background: #f7f7f7;
  --foreground: #222;
}

/* DARK MODE */
.dark {
  --background: #111;
  --foreground: #fff;
}

/* Apply Colors to Body */
body {
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.5s ease, color 0.5s ease;
}
